Source: xivo
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo
Architecture: all
Depends:
    molly-guard,
    screen,
    xivo-base (= ${binary:Version})
Description: Wazo complete telephony solution
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This meta package is used to install the full Wazo system.
 .

Package: xivo-base
Architecture: all
Depends:
    asterisk (>= 11.6.0) | asterisk-virtual,
    asterisk-sounds-main,
    asterisk-sounds-wav-en-us,
    asterisk-sounds-wav-fr-fr,
    consul,
    fail2ban,
    isc-dhcp-server,
    libtiff-tools,
    madplay,
    mutt,
    ntp,
    postfix,
    rabbitmq-server,
    rsync,
    sox,
    uuid-runtime,
    vlan,
    wazo-auth,
    wazo-auth-cli,
    wazo-auth-client-python3,
    wazo-auth-keys,
    wazo-call-logd,
    wazo-chatd,
    wazo-dird,
    wazo-dird-phoned,
    wazo-libsccp,
    wazo-plugind,
    wazo-plugind-client-python3,
    wazo-provd-client-python3,
    wazo-service,
    wazo-webhookd,
    wazo-websocketd,
    xivo-agentd,
    xivo-agentd-cli,
    xivo-agid,
    xivo-amid,
    xivo-backup,
    xivo-confd,
    xivo-confgend,
    xivo-confgend-client,
    xivo-config,
    wazo-calld,
    xivo-dxtora,
    xivo-dxtorc,
    xivo-fetchfw,
    xivo-keyring,
    xivo-manage-db,
    xivo-monitoring,
    xivo-nginx,
    xivo-provd,
    xivo-provd-cli,
    xivo-purge-db,
    xivo-res-freeze-check,
    xivo-sounds-en-us,
    xivo-sounds-fr-fr,
    xivo-stat,
    xivo-swagger-doc,
    xivo-sync,
    xivo-sysconfd,
    xivo-upgrade
Description: Wazo complete telephony solution - base system
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This meta package is used to install all the necessary components of a
 minimal Wazo system. For a full Wazo installation, install "xivo".
